.koala_toast {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  position: fixed;
  z-index: 9999;
  padding: 10px 15px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  min-width: 260px;
  text-align: center; }
