@import '../../baseSass/all';

// TextNotice---单多行文本提示
.koala_ellipsisTxt{
    background:#FFFFFF;
    padding:8px 12px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-direction: row;
    font-size:12px;
}

.koala_ellipsisTxt .koala_tips_box{
    flex:1;
    font-family: PingFangSC-Regular;
}

.koala_ellipsisTxt .koala_risk_tips{
    display: flex;
    flex-direction: row;
    flex:1;
}
.koala_ellipsisTxt .koala_txt {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    // -webkit-line-clamp: 3;
    overflow: hidden;
}
.koala_ellipsisTxt .koala_txt span{
    line-height:18px;
}

.koala_tips_box .koala_risk_tips .koala_hasLeftPoint{
    width:3px;
    height:3px;
    border-radius: 3px;
    background:red;
    margin-right: 8px;
    margin-top:8px;
}
.koala_tips_box .koala_risk_tips .Koala_infoIcon{
    @include icon($icon:information,$size:'11');
    font-family: koala;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    display: inline-block;
    margin-right: 6px;
}

.koala_ellipsisTxt .koala_tips_box .koala_showDetail {
    color:#0086F6;
    margin-left:8px;
}
.koala_ellipsisTxt .koala_tips_box .koala_showDetail_more{
    color:#0086F6;
    display: block;
    margin:auto;
    margin-left: 8px;
    white-space: nowrap;
}
.koala_ellipsisTxt .koala_operation .button{
    border:1px solid;
    border-radius: 4px;
    font-size:13px;
    padding:6px 12px; 
    margin-left: 12px;
    display: inline-block;
    box-sizing: border-box;
    line-height:17px;
}
// 跳转箭头需要替换
.koala_ellipsisTxt .koala_operation .iconfont_jump{
    @include icon($icon:forward,$size:'14');
    margin-left:12px;
}

.koala_ellipsisTxt .koala_operation .iconfont_close{
    @include icon($icon:close,$size:'14');
    margin-left:12px;
}



// 对应CardNotice样式
.koala_mod_tips_new {
    background:#FFF8F2;
    border-radius:0 0 8px 8px;
    padding:16px;
    color:#FF7700;

}


.koala_mod_tips_new >p{
    font-size:14px;
    line-height:18px;
    text-align: center;
    height:18px;

}
.koala_mod_tips_new .koala_mod_tips_btnbox.button_direction_row{
    display: flex;
    flex-direction: row;
}
.koala_mod_tips_new .koala_mod_tips_btnbox .koala_mod_tips_btn{
    flex:1;
    border:1px solid;
    border-radius:4px;
    font-family:PingFangSC-Regular;
    height:36px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.koala_mod_tips_new .koala_mod_tips_btn span{
    font-size:15px;
    letter-spacing: 0;
    line-height:38px;
    height:19px;
}
.koala_mod_tips_new .koala_mod_tips_btnbox.button_direction_row .koala_mod_tips_btn{
    margin-right: 8px;
}

.koala_mod_tips_btnbox.button_direction_row .koala_mod_tips_btn:last-of-type{
    margin-right: 0px;
}
.koala_mod_tips_new .koala_mod_tips_btnbox .koala_focus{
    background: #FF7700;
    color:#FFFFFF;
}

// PanelNotice样式
.koala_mod_tipbox{
    background:#FFF8F2;
    border-radius: 0 0 8px 8px;
    padding:8px 12px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.koala_mod_tipbox .koala_mod_tip{
    flex:1;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    -webkit-line-clamp:3;
    overflow:hidden;
}
.koala_mod_tipbox .koala_mod_operation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.koala_mod_tipbox .koala_mod_button{
    border:1px solid #FF7700;
    border-radius: 4px;
    font-size:13px;
    font-family:PingFangSC-Regular;
    padding:6px 12px;
    display: flex;
    justify-content:space-around;
    margin-left: 12px;

    

}
.koala_mod_tipbox .koala_mod_close{
    @include icon($icon:close,$size:'14');
    display: flex;
    align-items: center;
    margin-left:12px;

}







