
// 字体文件*.ttf转 base64 编码地址：https://www.css-js.com/tools/base64.html
@import './fontface';

// 注意：Key值需要与iconfont上的名字一模一样，全部用小写，方便后期维护。
// 示例：close在iconfont上对应编码是 ‘&#xe940’ ，引入到sass格式：\ + 后4位
$icon-font: (
    close: '\e940', // 关闭
    back: '\e015', // 返回
    forward:'\e008', // 箭头-右
    information:'\eb0e',
);

// 字体名称
$font-family: (
    baseFontFamily:"PingFangSC-Regular",
    medium:"PingFangSC-Medium",
    light:"PingFangSC-Light",
    bold:"PingFangSC-Semibold"
);

// 字重
$font-style:(
    bold: bold,
    normal: normal,
    italic: italic,
);

//字体大小
$font-size:(
    '8':8px,
    '10':10px,
    '11':11px,
    '12':12px,
    '13':13px,
    '14':14px,
    '15':15px,
    '16':16px,
    '17':17px,
    '18':18px,
    '19':19px,
    '20':20px,
    '22':22px,
    '24':24px,
    '26':26px,
    '28':28px,
    '30':30px,
);

@function iconfont($key){
    @return map-get($icon-font, $key);
}

@function family($key) {
    @return map-get($font-family, $key);
}

@function style($key) {
    @return map-get($font-style, $key);
}
@function size($key) {
    @return map-get($font-size, $key);
}

// 函数//对字体文件的引用
@mixin font-face($weight:normal,$size:'24'){ 
    font-family: "koala";
    font-weight:style($weight); 
    font-size: size($size) ;
    -webkit-font-smoothing: antialiased;
}

// 所有iconfont通过此方式引入
// $icon-font是所有iconfont的集合，需要添加iconfont请加入到$icon-font变量中去
// 示例：@include icon($icons: close);
@mixin icon(
    $icon:"",
    $size:'24',
    $weight:normal,
    $display:inline-block,
    $pos:true,
    $position:"before",
    ){
    @if $pos{
        &::#{$position} { 
            @include font-face($weight,$size);
            content:"#{iconfont($icon)}";
            display:$display;
            @content;
        }
    }
    @else{
        @include font-face($weight,$size);
        @content;
    }
}

