@charset "UTF-8";
// 全部公用样式//对标签的重置//消除兼容性问题
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
.body {
  font: 400 14px/1.5 PingFangSC-Regular, Arial, "Lucida Grande", Verdana, "Microsoft YaHei"
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
iframe {
  display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 600
}

fieldset,
img,
button,
input {
  border: 0
}

button,
input,
select,
textarea {
  font-size: 100%
}

address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
  font-weight: 400
}

ul,
ol {
  list-style: none outside
}

img {
  vertical-align: top
}

button,
input,
select,
textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  outline: 0;
  user-select: text;
}

body {
  min-width: 280px;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-user-select: none;
  background: #f4f4f4;
  color: #222;
  -webkit-overflow-scrolling: touch;
}

body,
html {
  height: 100%;
}

s {
  font-style: normal;
  text-decoration: none;
}

:focus {
  outline: 0
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

a {
  color: #0086f6;
  text-decoration: none
}
